{
    "extends": [
        "@gravity-ui/eslint-config",
        "@gravity-ui/eslint-config/client",
        "@gravity-ui/eslint-config/prettier",
        "@gravity-ui/eslint-config/a11y"
    ],
    "root": true,
    "rules": {
        "react/jsx-fragments": ["error", "element"],
        "no-restricted-syntax": [
            "error",
            {
                "selector": "ImportDeclaration[source.value='react'] :matches(ImportNamespaceSpecifier, ImportSpecifier)",
                "message": "Please use import React from 'react' instead."
            },
            {
                "selector": "TSTypeReference>TSQualifiedName[left.name='React'][right.name='FC']",
                "message": "Don't use React.FC"
            }
        ],
        "no-console": ["warn", {"allow": ["warn"] }]
    },
    "overrides": [
        {
          "files": ["src/**/*.slice.ts"], 
          "rules": {"no-param-reassign": ["error", {"props": false }]}
        }
    ]
}
